mixin fruits-block(args={})
    .fruits-block
        span.fruits-block__sale=args.sale
        button.fruits-block__like
            img(src="./assets/imgs/heart.png", alt="like")
        img(src=args.img, alt="fruits").fruits-block__img
        .fruits-block__text
            p.fruits-block__available=args.available
            h3.fruits-block__title=args.title
            span.fruits-block__price=args.price
            span.fruits-block__noprice=args.noprice
        .fruits-block__add
            button.fruits-block__btn -
            p.fruits-block__namber 1
            button.fruits-block__btn +
            a(href="#").fruits-block__link
                img(src='./assets/imgs/bag.png', alt="bag").fruits-block__bag 