mixin newproducts-block(args={})
    .newproducts-block
        span.newproducts-block__sale=args.sale
        button.newproducts-block__like
            img(src="./assets/imgs/heart.png", alt="like")
        img(src=args.img, alt="fruits").newproducts-block__img
        .newproducts-block__text
            p.newproducts-block_available=args.available
            h3.newproducts-block__title=args.title
            span.newproducts-block__price=args.price
            span.newproducts-block__noprice=args.noprice
        .newproducts-block__add
            button.newproducts-block__btn -
            p.newproducts-block__namber 1
            button.newproducts-block__btn +
            a(href="#").newproducts-block__link
                img(src='./assets/imgs/bag.png', alt="bag").newproducts-block__bag 